html {
    background: #cb95ff;
    background-image: linear-gradient(270deg, rgba(230, 233, 233) 0%, rgba(164, 44, 154, 0.39) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: rgba(177, 16, 58, 0.66);
    box-shadow: 0 0 2px rgba(166, 31, 229, 0.58);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em -1em;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(144, 10, 45, 0.66);
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 2.5em;
}

a {
    color: #8600e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 5s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(255, 20, 165, 0.69);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}